<nav class="ui inverted menu">
    <header class="header item"><a href="/"> Points of Interest </a></header>
    <div class="right menu">
        <a id="home"   class= "item" href="/home"> Add a POI</a>
        <a id="dashboard" class= "item" href="/dashboard"> Dashboard</a>
        <a id="yourpoi" class= "item" href="/gallery"> Gallery </a>
        <a id="logout" class= "item" href="/logout"> Logout</a>
        <a id="settings" class= "item" href="/settings"> Settings</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>