<section class="ui raised segment">
    <div class="ui stacked fluid form segment">

<div class="uk-card uk-card-primary uk-card-body">
  <h3 class="uk-card-title">Upload an Image</h3>
  <form class="uk-form-horizontal" action="/uploadfile" method="POST" enctype="multipart/form-data">
    <div class="uk-margin">
      <label class="uk-form-label" for="form-horizontal-text">Select Image</label>
      <div class="uk-form-controls">
        <input type="file" class="uk-input" name="imagefile" accept="image/png, image/jpeg">
      </div>
    </div>
      <br>
      <div class="field">
      <input type="submit" value="Upload" class="ui blue submit button">

</div>

</div>


