{{> mainmenu _id="yourpoi" }}
{{> upload }}


<h2 class="uk-heading-primary">Image Gallery</h2>

<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
    <div>

    </div>
</div>
<div class="uk-card uk-card-primary uk-card-body">

<div class="uk-container uk-padding-small">
    <div class="uk-child-width-1-4@s uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
        {{#each images}}
            {{> card}}
        {{/each}}
    </div>
</div>

