
{{> welcomemenu }}
    <section class="ui stacked segment">
        <div class="ui grid">
            <aside class="six wide column"><img src="images/poi.jpg" class="ui medium image" /></aside>
            <article class="ten wide column">
                <header class="ui  header">Beautiful Points of Interest</header>
                <p>Ireland really is a beautiful place.
                    <p> Log in or sign up to see for yourself all the beautiful locations discovered by others and add your own hidden gems.
            </p>
                {{> error }}
            </article>
        </div>
    </section>
</body>
</html>